/" goval css"
*{
    front-size: 30px;
    front-weight: 500;
}
/* External CSS */
h3{
    color: blue;
}

/* element selector */
h4{
    color: palevioletrend;
}

/* class selector */
.myclass{
    color: darkorange;
}

/* id selector */
#my id{
    color: mediumpurple;
}

/* group selectoy */
h5,p{
    color: marron;
}